## 인공지능 학습 로드맵

 * 프로그래밍 언어 : python
 * 데이터 분석 라이브러리 : Pandas
 * 수학적 계산 라이브러리 :Numpy
 * 차트 시각화 라이브러리 : Matplotlib, Seaborn
 * 지도 시각화 라이브러리 : Folium
 * 머신러닝 : Scikit-learn 등
 * 딥러닝 : Tensor-flow, Pytorch 등

## 포매팅

### F포매팅

형식
 * f ' 문자열{변수} '

In [1]:
name = '홍길동'
age = 34
print(f'My name is {name} age is {age}')

My name is 홍길동 age is 34

### format()

In [92]:
print('정수 : {}, 실수: {}'.format(20, 3.14))
print('정수 : {1}, 실수: {0}'.format(20, 3.14))

정수 : 20, 실수: 3.14
정수 : 3.14, 실수: 20

## find() index()

 * find() 찾지 못하면 return -1
 * index() 찾지 못하면 오류 ValueError

### 예외처리

try except 문으로 처리 가능

In [3]:
try:
    4 / 0
except ZeroDivisionError as e:
    print(e)

division by zero

## 문자열 split()

split()를 사용하면 배열을 특정 문자로 나눠 배열로 생성한다.

In [4]:
a = 'life is too short '

In [9]:
print(type(a))

<class 'str'>

In [6]:
li=a.split()

In [7]:
print(li)

['life', 'is', 'too', 'short']

In [8]:
print(type(li))

<class 'list'>

In [11]:
a2 = 'li,fe is, to,o sh,ort'

In [12]:
li2=a2.split(',')
print(li2)

['li', 'fe is', ' to', 'o sh', 'ort']

In [13]:
li2[0]

'li'

## List

List는 다른 값을 서로 묶을 수 있지만

배열은 같은 값들만 묶을 수 있다.

In [15]:
a = [1, 2, 'abc', [3, 4, 'list']]

In [16]:
print(a[0], a[3])

1 [3, 4, 'list']

In [17]:
print(a[3][2])

list

In [20]:
# 빈 배열 생성
a=[]

In [24]:
a = 'python'

In [26]:
print(a[1])

y

In [27]:
a[1]='i'
print(a)

TypeError: 'str' object does not support item assignment

* 숫자형과 문자열, 튜플은 변경할 수 없는 값이다

In [30]:
# 특정 값을 변경을 원할 시 replace() 매서드 사용
# replace() 매서드는 값이 저장되지 않는다. => 변수를 다시 생성해 주자!
a.replace(a[1], 'i')

'pithon'

In [32]:
print(a)

python

In [42]:
a=['a','b','c','d']

In [36]:
# append() 매서드는 2개의 값을 넣을 수 없다
a.append('e','f')

TypeError: append() takes exactly one argument (2 given)

In [43]:
# list 형으로 하나의 list로 넣어 준다.
a.append(['e','f'])
print(a)

['a', 'b', 'c', 'd', ['e', 'f']]

In [44]:
# list형으로 extend를 사용하면 각각의 원소로 들어감
a.extend(['g','h'])
print(a)

['a', 'b', 'c', 'd', ['e', 'f'], 'g', 'h']

In [47]:
a=[1, 2, 3, 2, 4, 5]

In [48]:
a.index(2)

1

In [49]:
# 같은 값이 있을때는 뒤에 위치를 반환하면 뒤의 값을 시작위치로 값을 찾는다.
a.index(2, 2)

3

In [50]:
a

[1, 2, 3, 2, 4, 5]

In [51]:
#insert(index, value)
a.insert(2,10)

In [52]:
print(a)

[1, 2, 10, 3, 2, 4, 5]

In [53]:
# 마지막에 있는 값이 빠져 나옴
a.pop()

5

In [54]:
print(a)

[1, 2, 10, 3, 2, 4]

In [55]:
#pop(index),  defult = 마지막 값
a.pop(3)

3

In [56]:
print(a)

[1, 2, 10, 2, 4]

## Tuple(튜플)

In [57]:
tu1=1
tu2=(2)

In [58]:
print(type(tu1), type(tu2))

<class 'int'> <class 'int'>

In [60]:
tu2=(2,)
print(type(tu2))

<class 'tuple'>

* 튜플은 변경이 불가능한 변수이다.

In [62]:
a=('a','b','c')

In [63]:
a[1]='d'

TypeError: 'tuple' object does not support item assignment

## Dictionary 자료형

* dic = {key1:value1, key2:value2}와 같은 형식으로 생성된다.
* key는 변경할 수 없는 값으로 넣어준다.(숫자, 문자열, 튜플)
* 인덱스의 개념이 없으므로 key 값으로만 접근한다.

In [75]:
dic={'a':123, 1:'school', (2, 3):'python'}

In [65]:
# 마지막 key가 list임으로 오류 발생
dic1={'a':123, 1:'school', (2, 3):'python', [1,2]:'abc'}

TypeError: unhashable type: 'list'

In [66]:
dic[1]

'school'

In [67]:
#없는 key 값이므로 오류 발생, 접근은 key 값으로만 한다.
dic[0]

KeyError: 0

In [76]:
#dic 추가
dic[123]='abcd'
print(dic)

{'a': 123, 1: 'school', (2, 3): 'python', 123: 'abcd'}

In [78]:
del dic[123]

In [79]:
print(dic)

{'a': 123, 1: 'school', (2, 3): 'python'}

In [81]:
#get()매서드는 key 값을 통해 값을 가져온다. key가 존재하지 않으면 None 값을 반환한다.
print(dic.get(0))

None

In [82]:
dic.get(0, 'not key')

'not key'

## Bool

* 0을 제외한 모든 값은 True를 반환한다.

In [83]:
bool(0)

False

In [84]:
bool(1)

True

In [85]:
bool(-1)

True

In [86]:
bool('')

False

## 자료형
파이썬의 자료 저장 방법(효율적임)

=> 같은 값은 같은 위치를 반환하기 때문에 효율적이라 말한다

In [87]:
a=1
b=a
c=[1, 2, 3]
d=a+1

In [90]:
print(id(a))
print(id(b))
print(id(c))
print(id(d))

140732850775840
140732850775840
2811624540800
140732850775872

## 제어문

## if문

In [93]:
ob = input('찾는 물건은:')
a=['paper', 'coin', 'phone']

if ob in a :
    print('찾는 물건이 있어요')
else :
    print('찾는 물건이 없어요')

찾는 물건은:paper
찾는 물건이 있어요

### 조건부 표현식

In [97]:
score = int(input('점수를 입력하시오'))

if score >= 60 :
    message = 'success'
else :
    message = 'failure'
    
print('first', message)

#위 if else문과 같은 표현이다.
message='success' if score >=60 else 'failure'
print('second', message)

점수를 입력하시오60
first success
second success

In [98]:
score = int(input('점수를 입력하시오 : '))

if score >= 90 :
    print('A')
elif score >= 80 :
    print('B')
elif score >= 70 :
    print('C')
else :
    print('F')

점수를 입력하시오90
A

## while 문

In [100]:
a = th_sum = 0

while(a < 1000) :
    a += 1
    if a%3 == 0 :
        th_sum += a

print(th_sum)

166833

## for 문

* range(시작, 종료, 스텝) => 시작부터 끝 전까지 스텝만큼 변경되면서

In [101]:
for i in range(10) :
    print(i)

0
1
2
3
4
5
6
7
8
9

In [102]:
for i in range(1, 10, 2) :
    print(i)

1
3
5
7
9

In [103]:
li=['a','b','c','d','e']

for i in li :
    print(i)

a
b
c
d
e

In [120]:
li = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0

for i in li :
    total += i
    
print(total/len(li))

79.0

## 함수

 * return 값이 없으면 None 값이 반환

In [123]:
a, b = map(int, input('두 정수입력 : ').split())
c = a + b
print(c)

두 정수입력 : 10 20
30

In [125]:
def add(a, b) :
    return a+b

In [126]:
c = add(10, 20)
print(c)

30

### 파이썬 함수의 종류

* 일반 함수: def fun(a, b) : return c
* 입력값이 없는 함수 :  def fun() : return c
* 출력 값이 없는 함수 : def fun(a, b) : print()
* 둘 다 없는 함수 : def fun() : print()

In [132]:
# '*args'는 매개변수의 개수가 달라질 경우 변수 이름 앞 *을 붙임
# 'args' 변수는 tuple로 들어감
def add_many(*args) :
    result = 0
    
    print(type(args))
    
    for i in args :
        result = result + i
    return result

In [133]:
result = add_many(1, 2, 3)
print(result)

<class 'tuple'>
6

In [129]:
result = add_many(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(result)

55

* 초기값을 설정한 변수는 제일 뒤에 있어야 에러가 발생하지 않음

In [134]:
def say_myself(name, old, man=True) :
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {old}살입니다.")
    if man :
        print("남자입니다.")
    else :
        print("여자입니다.")

In [135]:
say_myself("전성호", 25)

나의 이름은 전성호입니다.
나이는 25살입니다.
남자입니다.

In [136]:
say_myself("전성호", 25, False)

나의 이름은 전성호입니다.
나이는 25살입니다.
여자입니다.

In [137]:
a = 1
def vartest(a) :
    a = a+1
    print(a)

vartest(a)
print(a)

2
1

* global은 전역변수를 생성하는 것이므로 밖에서도 사용할 수 있다.

In [138]:
a = 1
def vartest(a) :
    global b
    b = a+1

vartest(a)
print(b)

2

### lambda 함수
var = lambda 매개변수 : 실행문

In [139]:
add = lambda a, b : a+b
result = add(3,4)
print(result)

7

## 파일 읽고 쓰기
open과 close가 하나의 쌍임

open('파일이름', 특성)

문자열로만 된 데이터가 write 가능

※ 특성
* w : 쓰기
* r : 읽기
* a : 추가

In [144]:
f=open('0629.txt','w')
f.write('1')

f.close()

In [147]:
f=open('0629.txt','a')
f.write('2')
f.write('\n')
f.write('3')

f.close()

In [149]:
f=open('0629.txt','w')
for i in range(1, 11) :
    data = f'{i}번째 줄입니다.\n'
    f.write(data)
f.close()

In [151]:
f=open('0629.txt','r')
a = f.readline()
print(a)
a = f.readline()
print(a)
f.close()

1번째 줄입니다.

2번째 줄입니다.

In [152]:
f=open('0629.txt','r')
while True :
    line = f.readline()
    if not line : break
    print(line)
f.close()

1번째 줄입니다.

2번째 줄입니다.

3번째 줄입니다.

4번째 줄입니다.

5번째 줄입니다.

6번째 줄입니다.

7번째 줄입니다.

8번째 줄입니다.

9번째 줄입니다.

10번째 줄입니다.

In [153]:
f=open('0629.txt','r')
lines = f.readlines()
f.close()

print(lines[3])

4번째 줄입니다.

In [154]:
for line in lines :
    print(line[:-2])

1번째 줄입니다
2번째 줄입니다
3번째 줄입니다
4번째 줄입니다
5번째 줄입니다
6번째 줄입니다
7번째 줄입니다
8번째 줄입니다
9번째 줄입니다
10번째 줄입니다

In [155]:
f=open('0629.txt','r')
data=f.read()
f.close()

data = data.split('\n')
print(data)

['1번째 줄입니다.', '2번째 줄입니다.', '3번째 줄입니다.', '4번째 줄입니다.', '5번째 줄입니다.', '6번째 줄입니다.', '7번째 줄입니다.', '8번째 줄입니다.', '9번째 줄입니다.', '10번째 줄입니다.', '']

### with 문
with문을 사용하면 close를 사용하지 않아도 블록이 끝나면 자동으로 close가 됨

In [156]:
with open("foo.txt", 'w') as f :
    f.write("Life is too shrt, you need python")

In [173]:
score = [70, 60, 55, 75, 95, 90, 80, 85, 100]

with open("score.txt","w") as f :
    f.write(str(score))
    
with open("score.txt", "r") as f :
    data = f.read()

data = list(map(int, data[1:-1].split(', ')))
total = 0

for i in data :
    total += i

print(total/len(data))

78.88888888888889

In [4]:
score = [70, 60, 55, 75, 95, 90, 80, 85, 100]

with open("score.txt","w") as f :
    f.write(str(score))
    
with open("score.txt", "r") as f :
    data = f.read()

total = 0

for i in data[1:-1].split(', ') :
    total += int(i)

print(total/len(data[1:-1].split(', ')))

78.88888888888889

## 클래스

__init__는 생성되면 자동으로 실행되는 값으로 초기화 시 사용

In [181]:
class Student :
    name = "홍길동"
#     def __init__(self) :
#         print("init 이해하셨나요?")
    def info(self) :
        print("제 이름은", self.name, "입니다.")

In [179]:
inst2 = Student2()
inst2.info()

init 이해하셨나요?
제 이름은 홍길동 입니다.

In [180]:
inst2.name

'홍길동'

In [186]:
class University(Student) :
    major = '컴퓨터공학과'
    def intro(self) :
        print("제 이름은", self.name, "이고 전공은", self.major, "입니다.")

In [188]:
inst3 = University()
inst3.name

'홍길동'

In [189]:
inst3.intro()

제 이름은 홍길동 이고 전공은 컴퓨터공학과 입니다.